<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.wawakaka.jst"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera2" />
    <uses-feature android:name="android." />

    <application
        android:name=".base.JstApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:fullBackupContent">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.wawakaka.jst.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".login.composer.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".dashboard.composer.DashboardActivity" />
        <activity android:name=".onboarding.composer.OnBoardingActivity" />
        <activity android:name=".camera.composer.CameraActivity" />
        <activity android:name=".jadwal.composer.JadwalActivity" />
        <activity android:name=".kelas.composer.KelasActivity" />
        <activity android:name=".presensi.composer.PresensiActivity" />
        <activity android:name=".tesHarian.composer.HasilTesHarianActivity" />
        <activity android:name=".tesHarian.composer.HasilTesHarianAddOrEditActivity" />
        <activity android:name=".admin.composer.AdminActivity" />
        <activity android:name=".admin.siswa.composer.ManageSiswaActivity" />
        <activity android:name=".admin.jadwalkelas.composer.ManageJadwalKelasActivity" />
        <activity android:name=".admin.bidang.composer.ManageBidangActivity" />
        <activity android:name=".admin.kelas.composer.ManageKelasActivity" />
        <activity
            android:name=".admin.bidang.composer.AddOrEditBidangActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".admin.siswa.composer.AddOrEditSiswaActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".admin.jadwalkelas.composer.AddOrEditJadwalKelasActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".admin.sekolah.composer.AddOrEditSekolahActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".admin.kelas.composer.AddOrEditKelasActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".admin.sekolah.composer.ManageSekolahActivity" />
        <activity android:name=".journal.composer.JournalActivity" />
        <activity
            android:name=".journal.composer.AddOrEditJournalActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".pengeluaran.composer.PengeluaranActivity" />
        <activity android:name=".camera.composer.PreviewActivity" />
        <activity android:name=".pengeluaran.composer.AddOrEditPengeluaranActivity" />
        <activity android:name=".event.composer.EventActivity" />
        <activity android:name=".event.composer.EventMenuActivity" />
        <activity android:name=".admin.event.composer.ManageEventActivity" />
        <activity android:name=".admin.event.composer.AddOrEditEventActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e6659c1f07e1dec0a0a3b7762de4463e83d736dd" />
    </application>

</manifest>