<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wawakaka.jst">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".base.JstApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.composer.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".dashboard.composer.DashboardActivity" />
        <activity android:name=".onboarding.composer.OnBoardingActivity" />
        <activity android:name=".camera.composer.CameraActivity" />
        <activity android:name=".jadwal.composer.JadwalActivity" />
        <activity android:name=".kelas.composer.KelasActivity" />
        <activity android:name=".presensi.composer.PresensiActivity" />
        <activity android:name=".tesHarian.composer.TesHarianActivity" />
        <activity android:name=".tesHarian.composer.HasilTesHarianActivity" />
        <activity android:name=".tesHarian.composer.HasilTesHarianAddOrEditActivity" />
        <activity android:name=".admin.composer.AdminActivity" />
        <activity android:name=".admin.composer.ManageSiswaActivity" />
        <activity android:name=".admin.composer.ManageJadwalKelasActivity" />
        <activity android:name=".admin.composer.ManageBidangActivity" />
        <activity android:name=".admin.composer.ManageKelasActivity" />
        <activity android:name=".admin.composer.AddOrEditBidangActivity" />
        <activity android:name=".admin.composer.AddOrEditSiswaActivity" />
        <activity android:name=".admin.composer.AddOrEditJadwalKelasActivity" />
        <activity android:name=".admin.composer.AddOrEditSekolahActivity" />
        <activity android:name=".admin.composer.AddOrEditKelasActivity" />
        <activity android:name=".admin.composer.ManageSekolahActivity" />
    </application>
    //todo fix activity input settings before release
</manifest>